<!DOCTYPE html>
<html>
<head>
<link href="http://trevorfrench.rf.gd/stylesheets/main.css" rel="stylesheet" type="text/css">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Trevor French - Blog</title>
</head>
<body>
<h1><a href="http://trevorfrench.rf.gd/" class="title">Trevor French</a></h1>
<div class="bodyDiv">
<div style="width:800px; margin:0 auto;">
    <ul class="popList">
        <div class="mobileMenu">
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">||| Dropdown Menu |||</a>
                <div class="dropdown-content">
                    <a href="http://trevorfrench.rf.gd/documents/French_Trevor_Resume.pdf" class="poplink">Resume</a>
                    <a href="http://trevorfrench.rf.gd/financial_calculators.html" class="poplink">Financial Calculators</a>
                    <a href="http://trevorfrench.rf.gd/Sunburst.html" class="poplink">Data Gathering</a>
                    <a href="http://trevorfrench.rf.gd/stockcharts.html" class="poplink">Personal Blog</a>
                    <a href="http://trevorfrench.rf.gd/contact_information.html" class="poplink">Contact Info</a>
                </div>
        </li>
        </div>
        <div class="webMenu">
        <li class="popListItem"><a href="http://trevorfrench.rf.gd/documents/French_Trevor_Resume.pdf" class="poplink">Resume</a></li>
        <li class="popListItem"><a href="http://trevorfrench.rf.gd/financial_calculators.html" class="poplink">Financial Calculators</a></li>
        <li class="popListItem"><a href="http://trevorfrench.rf.gd/Sunburst.html" class="poplink">Data Gathering</a></li>
        <li class="popListItem"><a href="http://trevorfrench.rf.gd/stockcharts.html" class="poplink">Personal Blog</a></li>
        <li class="popListItem"><a href="http://trevorfrench.rf.gd/contact_information.html" class="poplink">Contact Info</a></li>
        </div>
    </ul>
    </div>




<div style="width:800px; margin:0 auto;">
<p style="font-size:18px">
    </br>
<a href="http://trevorfrench.rf.gd/documents/relative_value_disney.pdf" class="blog"><b>Disney's Relative Value</b></br><i>March 5, 2019</i></br>-Trevor French</a>
</p>

<div>
  <div style="float:left">
  <p><a href src="" class="reference">Education</a></p>
  <p><a href src="" class="reference">Certificates</a></p>  
  <p><a href src="" class="reference">Work History</a></p>
  <p><a href src="" class="reference">References</a></p>  
  </div>
  </div>
</div>
</div>
</body>
</html>
		