<!DOCTYPE html>
<html>
<head>
<link href="../styles/main.css" rel="stylesheet" type="text/css">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<script src="https://d3js.org/d3.v3.min.js"></script>
<title>Trevor French - Data Gathering</title>
<link rel="icon" href="../views/iconMain.png" type="image/x-icon">
</head>
<body>

<div style="width:100%; margin:0 auto;">
        <div class="header"></div>
        <div class="webMenu">
          <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
          <label for="openSidebarMenu" class="sidebarIconToggle">
            <div class="spinner diagonal part-1"></div>
            <div class="spinner horizontal"></div>
            <div class="spinner diagonal part-2"></div>
          </label>
          <div id="sidebarMenu">
            <ul class="sidebarMenuInner">
              <li>
                <div class="googleSearch">
                  <div class="gcse-searchbox"></div>
                </div>
              </li>
              <li>
                <div class="popListItem"><a href="../documents/French_Trevor_Resume.pdf" class="poplink">Resume</a></div>
              </li>
              <li>
                <div class="popListItem"><a class="poplink">Finance</a>
                  <div class="dropdown-content">
                    <a href="../views/financial_calculators.html" class="dropList">Payment Calculator</a>
                    <a href="../views/gordon_growth_stable.html" class="dropList">Stable Gordon Growth Model</a>
                    <a href="../views/retirement_calculator.html" class="dropList">Retirement Calculator</a>
                    <a href="../views/spreadsheet_models.html" class="poplink">Spreadsheet Models</a>
                  </div>
                </div>
              </li>
              <li>
                <div class="popListItem"><a class="poplink">Data Visualization</a>
                  <div class="dropdown-content">
                    <a href="../views/D3_js_Key_Concepts.html" class="dropList">d3.js Key Concepts</a>
                    <a href="../views/data_gathering.html" class="dropList">United States Sex Ratio (2018) - Sunburst</a>
                    <a href="../views/collision_detection.html" class="dropList">Collision Detection</a> 
                    <a href="../views/balloon_race.html" class="dropList">Space/Defense Spending - Balloon Race</a>
                  </div>
                </div>
              </li>
              <li>
                <div class="popListItem"><a class="poplink">Projects</a>
                  <div class="dropdown-content">
                    <a href="../views/index.html" class="dropList">Auto-Texter</a>
                    <a href="../cryptoexchange" class="dropList">CryptoExchange</a> 
                    <a href="../fourthEstate" class="dropList">The Fourth Estate</a>
                    <a href="../frenchsFinancialData" class="dropList">French's Financial Data</a>
                  </div>
                </div>
              </li>
              <li>
                <div class="popListItem"><a href="../views/blog.html" class="poplink">Blog</a></div>
              </li>
              <li>
                <div class="popListItem"><a href="../views/video.html" class="poplink">Videos</a></div>
              </li>
              <li>
                <div class="popListItem"><a href="../views/contactInfo.html" class="poplink">Contact</a></div>
              </li>
            </ul>
          </div>
          <h1><a href="../views/main.html" class="title">Trevor French</a></h1>
        </div>
</div>


<div class="bodyDiv">
  <br>
  <br>
  <br>
<h3 style="text-align:left;">Collision Detection<hr></h3>

<script>

var width = 960,
    height = 500;

var nodes = d3.range(200).map(function() { return {radius: Math.random() * 12 + 4}; }),
    root = nodes[0],
    color = d3.scale.category10();

root.radius = 0;
root.fixed = true;

var force = d3.layout.force()
    .gravity(0.05)
    .charge(function(d, i) { return i ? 0 : -2000; })
    .nodes(nodes)
    .size([width, height]);

force.start();

var svg = d3.select("h3").append("svg")
    .attr("width", width)
    .attr("height", height);

svg.selectAll("circle")
    .data(nodes.slice(1))
  .enter().append("circle")
    .attr("r", function(d) { return d.radius; })
    .style("fill", function(d, i) { return color(i % 3); });

force.on("tick", function(e) {
  var q = d3.geom.quadtree(nodes),
      i = 0,
      n = nodes.length;

  while (++i < n) q.visit(collide(nodes[i]));

  svg.selectAll("circle")
      .attr("cx", function(d) { return d.x; })
      .attr("cy", function(d) { return d.y; });
});

svg.on("mousemove", function() {
  var p1 = d3.mouse(this);
  root.px = p1[0];
  root.py = p1[1];
  force.resume();
});

function collide(node) {
  var r = node.radius + 16,
      nx1 = node.x - r,
      nx2 = node.x + r,
      ny1 = node.y - r,
      ny2 = node.y + r;
  return function(quad, x1, y1, x2, y2) {
    if (quad.point && (quad.point !== node)) {
      var x = node.x - quad.point.x,
          y = node.y - quad.point.y,
          l = Math.sqrt(x * x + y * y),
          r = node.radius + quad.point.radius;
      if (l < r) {
        l = (l - r) / l * 0.5;
        node.x -= x *= l;
        node.y -= y *= l;
        quad.point.x += x;
        quad.point.y += y;
      }
    }
    return x1 > nx2 || x2 < nx1 || y1 > ny2 || y2 < ny1;
  };
}

</script>
<p style="font-size:18px">
    </br>
This is a D3.js visualization created by Mike Bostock entitled "Collision Detection".
</br>
</br>
<b>Source:</b>
Bostock, M. (2019, February 20). Collision Detection. Retrieved April 17, 2019, from https://bl.ocks.org/mbostock/3231298
</p>
<br>
<br>
</div>

</body>



</html>