<!DOCTYPE html>
<html>
<head>
<link href="../styles/main.css" rel="stylesheet" type="text/css">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Trevor French - Contact Information</title>
</head>
<body>


<div style="width:100%; margin:0 auto;">
    <ul class="popList">
        <div class="webMenu">
        <h1><a href="../views/main.html" class="title">Trevor French</a></h1>
        <li class="popListItem"><a href="../documents/French_Trevor_Resume.pdf" class="poplink">Resume</a></li>
        <li class="popListItem"><a href="../views/financial_calculators.html" class="poplink">Financial Calculators</a></li>
        <li class="popListItem"><a href="../views/data_gathering.html" class="poplink">Data Gathering</a></li>
        <li class="popListItem"><a href="../views/blog.html" class="poplink">Personal Blog</a></li>
        <li class="popListItem"><a href="../views/index.html" class="poplink">Auto-Texter</a></li>
        <li class="popListItem"><a href="../views/contactInfo.html" class="poplink">Contact Info</a></li>
        </div>
    </ul>
    </div>

<div class="bodyDiv">
<p style="font-size:18px">
    </br>
    </br>
    </br>
<b>Email:</b> trevorf96@gmail.com
</br>
<b>Linkedin:</b> LinkedIn.com/in/trevorfrench/
</br>
<b>Phone Number:</b> Message me and ask.
</p>
  <div>
    <div style="float:left">
      <p><a href src="" class="reference">Education</a></p>
      <p><a href src="" class="reference">Certificates</a></p>  
      <p><a href src="" class="reference">Work History</a></p>
      <p><a href src="" class="reference">References</a></p>  
    </div>
  </div>
</div>
</body>
</html>
		