<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Trevor's Auto-Texter</title>
</head>
<body>
    <main>
        <h1 align="center">Crypto Exchange</h1>
    </main>
    
  <div class="mainWrapper">

          <p><%= statusMessage %></p>
  
  <form method="POST" action="/">
    <input type="submit" value="Single Texter">
  </form>
    <form method="POST" action="/">
    <input type="submit" value ="Group Texter">
  </form>
    <form method="POST" action="/massTexter">
    <input type="submit" value="Mass Texter">
  </form>

  </div>

      <script src="../scripts/script.js"></script>
</body>
</html>