<!DOCTYPE html>
<html>
<head>
<link href="../styles/main.css" rel="stylesheet" type="text/css">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Trevor French - Financial Calculators</title>
<link rel="icon" href="../views/iconMain.png" type="image/x-icon">
</head>
<body>

<div style="width:100%; margin:0 auto;">
<div class="header"></div>
        <div class="webMenu">
          <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
          <label for="openSidebarMenu" class="sidebarIconToggle">
            <div class="spinner diagonal part-1"></div>
            <div class="spinner horizontal"></div>
            <div class="spinner diagonal part-2"></div>
          </label>
          <div id="sidebarMenu">
            <ul class="sidebarMenuInner">
              <li>
                <div class="googleSearch">
                  <div class="gcse-searchbox"></div>
                </div>
              </li>
              <li>
                <div class="popListItem"><a href="../documents/French_Trevor_Resume.pdf" class="poplink">Resume</a></div>
              </li>
              <li>
                <div class="popListItem"><a class="poplink">Finance</a>
                  <div class="dropdown-content">
                    <a href="../views/financial_calculators.html" class="dropList">Payment Calculator</a>
                    <a href="../views/gordon_growth_stable.html" class="dropList">Stable Gordon Growth Model</a>
                    <a href="../views/retirement_calculator.html" class="dropList">Retirement Calculator</a>
                    <a href="../views/spreadsheet_models.html" class="poplink">Spreadsheet Models</a>
                  </div>
                </div>
              </li>
              <li>
                <div class="popListItem"><a class="poplink">Data Visualization</a>
                  <div class="dropdown-content">
                    <a href="../views/D3_js_Key_Concepts.html" class="dropList">d3.js Key Concepts</a>
                    <a href="../views/data_gathering.html" class="dropList">United States Sex Ratio (2018) - Sunburst</a>
                    <a href="../views/collision_detection.html" class="dropList">Collision Detection</a> 
                    <a href="../views/balloon_race.html" class="dropList">Space/Defense Spending - Balloon Race</a>
                  </div>
                </div>
              </li>
              <li>
                <div class="popListItem"><a class="poplink">Projects</a>
                  <div class="dropdown-content">
                    <a href="../views/index.html" class="dropList">Auto-Texter</a>
                    <a href="../cryptoexchange" class="dropList">CryptoExchange</a> 
                    <a href="../fourthEstate" class="dropList">The Fourth Estate</a>
                    <a href="../frenchsFinancialData" class="dropList">French's Financial Data</a>
                  </div>
                </div>
              </li>
              <li>
                <div class="popListItem"><a href="../views/blog.html" class="poplink">Blog</a></div>
              </li>
              <li>
                <div class="popListItem"><a href="../views/video.html" class="poplink">Videos</a></div>
              </li>
              <li>
                <div class="popListItem"><a href="../views/contactInfo.html" class="poplink">Contact</a></div>
              </li>
            </ul>
          </div>
          <h1><a href="../views/main.html" class="title">Trevor French</a></h1>
        </div>
</div>

<div class="bodyDiv">
    <br>
    <br>
    <br>
    <div class="gcse-searchresults"></div>
    <fieldset>
        <legend><b>Loan Payment Calculator</b></legend>
    <form class="calculator">
    <div><p><b>Amount to Finance:</b><input type="number" id="loanAmount"></p></div>
    <div><p><b>Down Payment:</b><input type="number" id="downPayment"></p></div>
    <div><p><b>Interest Rate:</b><input type="number" id="interestRate"></p></div>
    <div><p><b>Number of Periods:</b><input type="number" id="Periods"></p></div>
    <b>Payments per Period:</b> <input align="center" type="number" id="paymentsPerPeriod">
    <div><p><b>Payment Amount:</b><div id="paymentAmount"></div></p></div>
    <button type="button" onclick="calculatePayment()">Calculate</button>
    </form>
    </fieldset>

    <div>
        <br>
        <p>Other Financial Calculators</p>
        <hr>
        <p><a href src="../views/financial_calculators.html" class="reference">Loan Amortization</a></p>
        <p><a href src="" class="reference">Gordon Growth Model</a></p>  
        <p><a href src="" class="reference">Alpha Generation</a></p>
        <p><a href src="" class="reference">Retirement</a></p>  
     </div>

</div>




<script>
    function calculatePayment() {
        var amount = document.getElementById('loanAmount').value;
        console.log(amount);
        var moneyDown = document.getElementById('downPayment').value;
        console.log(moneyDown);
        var rate = document.getElementById('interestRate').value;
        console.log(rate);
        var numberPeriods = document.getElementById('Periods').value;
        console.log(numberPeriods);
        var paymentsPer = document.getElementById('paymentsPerPeriod').value;
        console.log(paymentsPer);
        var n = numberPeriods * paymentsPer;
        console.log("n: " + n);
        var i = rate / paymentsPer;
        console.log("i:" + i);
        var a = amount - moneyDown;
        console.log("a:" + a);
        var dNumerator = (Math.pow((1 + i),n) - 1);
        console.log("num: " + dNumerator);
        var dDenominator = ((i * Math.pow(( 1 + i ), n)));
        console.log("den: " + dDenominator);
        var d = dNumerator / dDenominator;
        console.log("d:" + d);
        var payment = a / d;
        document.getElementById('paymentAmount').innerHTML = "$"+payment.toFixed(2);

    }
</script>
</body>
</html>
		