<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../styles/fourthEstate.css">
    <title>The Fourth Estate</title>
</head>
<body>
  <div style="width:100%; height:100%; margin:0; display:block; overflow: auto;">
    <h1 align="center" style="padding-top: 30px; padding-bottom: 30px;">The Fourth Estate</h1>
  </div>
  <div style="width:100%; margin:0 auto;">
        <div class="webMenu">
          <h1><a href="../views/main.html" class="title">Trevor French</a></h1>
          <div class="popListItem"><a href="../documents/French_Trevor_Resume.pdf" class="poplink">Resume</a>
            <div class="dropdown-content">
              <a href="../documents/French_Trevor_Resume.pdf" class="dropList">PDF</a>
              <a href="../views/resume.html" class="dropList">Browser</a>
            </div>
          </div>
          <div class="popListItem"><a href="../views/financial_calculators.html" class="poplink">Financial Calculators</a>
            <div class="dropdown-content">
              <a href="../views/financial_calculators.html" class="dropList">Payment Calculator</a>
              <a href="../views/gordon_growth_stable.html" class="dropList">Stable Gordon Growth Model</a>
              <a href="../views/retirement_calculator.html" class="dropList">Retirement Calculator</a>
            </div>
          </div>
          <div class="popListItem"><a href="../views/data_gathering.html" class="poplink">Data Visualization</a>
            <div class="dropdown-content">
              <a href="../views/data_gathering.html" class="dropList">United States Sex Ratio (2018) - Sunburst</a>
              <a href="../views/collision_detection.html" class="dropList">Collision Detection</a> 
              <a href="../views/balloon_race.html" class="dropList">Space/Defense Spending - Balloon Race</a>
            </div>
          </div>
          <div class="popListItem"><a href="../views/index.html" class="poplink">Projects</a>
            <div class="dropdown-content">
              <a href="../views/index.html" class="dropList">Auto-Texter</a>
              <a href="../cryptoexchange" class="dropList">CryptoExchange</a> 
              <a href="../fourthEstate" class="dropList">The Fourth Estate</a>
            </div>
          </div>
          <div class="popListItem"><a href="../views/spreadsheet_models.html" class="poplink">Spreadsheet Models</a></div>
          <div class="popListItem"><a href="../views/blog.html" class="poplink">Blog</a></div>
          <div class="popListItem"><a href="../views/video.html" class="poplink">Videos</a></div>
          <div class="popListItem"><a href="../views/contactInfo.html" class="poplink">Contact</a></div>
        </div>
      <div class="webMenu">
      <div class="googleSearch"><div class="gcse-searchbox"></div></div></div>
</div>
      <div class="marquee">
      <p>
        <b>Under Construction (Powered by NewsAPI.org)</b>
      </p>
    </div>
    
  <div class="mainWrapper">
    <p>
      <%- statusMessage %>
    </p>
  </div>

      <script src="../scripts/script.js"></script>
</body>
</html>