<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../styles/fourthEstate.css">
    <title>French's Financial Data</title>
</head>
<body>
  <div style="width:100%; height:100%; margin:0; display:block; overflow: auto;">
    <h1 align="center" style="padding-top: 30px; padding-bottom: 30px;">French's Financial Data</h1>
  </div>
      <div class="marquee">
      <p>
        <b>Under Construction</b>
      </p>
    </div>
    
  <div class="mainWrapper">
    <p>
      <%- statusMessage %>
    </p>
  </div>

      <script src="../scripts/script.js"></script>
</body>
</html>