<!DOCTYPE html>
<html>
<head>
<link href="../styles/main.css" rel="stylesheet" type="text/css">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Trevor French</title>
</head>
<body>

<div style="width:100%; margin:0 auto;">
        <div class="webMenu">
          <h1><a href="../views/main.html" class="title">Trevor French</a></h1>
          <div class="popListItem"><a href="../documents/French_Trevor_Resume.pdf" class="poplink">Resume</a></div>
          <div class="popListItem"><a href="../views/financial_calculators.html" class="poplink">Financial Calculators</a>
            <div class="dropdown-content">
              <a href="../views/financial_calculators.html">Payment Calculator</a>
              <a href="../views/gordon_growth_stable.html">Stable Gordon Growth Model</a>
              <a href="#">Link 3</a>
            </div>
          </div>
          <div class="popListItem"><a href="../views/data_gathering.html" class="poplink">Data Gathering</a>
            <div class="dropdown-content">
              <a href="../views/Sunburst.html" class="reference">United States Sex Ratio (2018) - Sunburst</a>
              <a href="../views/collision_detection.html" class="reference">Collision Detection</a> 
              <a href="../views/balloon_race.html" class="reference">PCT100 - (Top 100 Pest Control Companies in the United States)</a>
              <a href src="../views/hive_plot.html" class="reference">Cool Chart</a>
            </div>
          </div>
          <div class="popListItem"><a href="../views/blog.html" class="poplink">Personal Blog</a></div>
          <div class="popListItem"><a href="../views/index.html" class="poplink">Auto-Texter</a></div>
          <div class="popListItem"><a href="../views/contactInfo.html" class="poplink">Contact Info</a></div>
        </div>
</div>

<div class="bodyDiv">
  <p style="font-size:18px">
    My name's Trevor,
    </br>
    </br>
    Thanks for visiting my site! I am experienced in sales, sales management, consulting, and data analysis. I have generated hundreds of
    thousands of dollars in recurring revenue for clients and have created solutions for overcoming critical inefficiencies within large organizations.
    </br>
    </br>
    <b>Here's what I'm currently working on:</b>
  </p>
  <ul class="other" style="font-size:18px">
    <li>This website!</li>
    <li>Finishing my last semester of undergrad</li>
    <li>Various projects as a project manager at BYU-Idaho</li>
  </ul>
  <p style="font-size:18px">
    <b>Here are some topics that I am currently studying:</b>
  </p>
  <ul class="other" style="font-size:18px">
    <li>Data Warehousing</li>
    <li>Econometrics</li>
    <li>Technical Stock Market Analysis</li>
    <li>Node.js, MySQL, R, and D3.js</li>
    <li>Microsoft's PowerBI</li>
  </ul>
  <p style="font-size:18px">
    Feel free to reach out to me if you're interested in any of these topics or have any suggestions/questions for me. Click the links above if you want to see what I've been working on.
  </p>
</div>
</body>
</html>
		