<!DOCTYPE html>
<html>
<head>
<link href="../styles/main.css" rel="stylesheet" type="text/css">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Trevor French</title>
<link rel="icon" href="../views/iconMain.png" type="image/x-icon">
</head>
<body>

<div style="width:100%; margin:0 auto;">
        <div class="webMenu">
          <h1><a href="../views/main.html" class="title">Trevor French</a></h1>
          <div class="popListItem"><a href="../documents/French_Trevor_Resume.pdf" class="poplink">Resume</a></div>
          <div class="popListItem"><a href="../views/financial_calculators.html" class="poplink">Financial Calculators</a>
            <div class="dropdown-content">
              <a href="../views/financial_calculators.html" class="dropList">Payment Calculator</a>
              <a href="../views/gordon_growth_stable.html" class="dropList">Stable Gordon Growth Model</a>
              <a href="../views/retirement_calculator.html" class="dropList">Retirement Calculator</a>
            </div>
          </div>
          <div class="popListItem"><a href="../views/data_gathering.html" class="poplink">Data Visualization</a>
            <div class="dropdown-content">
              <a href="../views/data_gathering.html" class="dropList">United States Sex Ratio (2018) - Sunburst</a>
              <a href="../views/collision_detection.html" class="dropList">Collision Detection</a> 
              <a href="../views/balloon_race.html" class="dropList">Space/Defense Spending - Balloon Race</a>
            </div>
          </div>
          <div class="popListItem"><a href="../views/blog.html" class="poplink">Personal Blog</a></div>
          <div class="popListItem"><a href="../views/index.html" class="poplink">Auto-Texter</a></div>
          <div class="popListItem"><a href="../views/contactInfo.html" class="poplink">Contact Info</a></div>
        </div>
</div>

<div class="bodyDiv">
  <br>
  <section class="card">
    <div class="card--content"><a href="../views/gordon_growth_stable.html" class="cardLink"><p style="text-align: center; color: #333;"><b>Gordon Growth Model</b></p><img src="../views/GGM.svg" width="75px" style="margin: auto; display: block;" height="75px" alt="Gordon Growth Model"></a></div>
    <div class="card--content"><a href="../views/index.html" class="cardLink"><p style="text-align: center; color: #333;"><b>Auto-Texter</b></p><img src="../views/SingleTexter.svg" width="75px" style="margin: auto; display: block;" height="75px" alt="Auto-Texter"></a></div>
    <div class="card--content"><a href="../views/balloon_race.html" class="cardLink"><p style="text-align: center; color: #333;"><b>Space/Defense Budgets</b></p><img src="../views/space_defense.svg" width="75px" style="margin: auto; display: block;" height="75px" alt="Space/Defense Budgets"></a></div>
    <div class="card--content"><a href="../documents/relative_value_disney.pdf" class="cardLink"><p style="text-align: center; color: #333;"><b>Disney's Relative Value</b></p><img src="../views/disneyIcon.svg" width="75px" style="margin: auto; display: block;" height="75px" alt="Disney's Relative Value"></a></div>
    <div class="card--content"></div>
    <div class="card--content"></div>
    <div class="card--content"></div>
    <div class="card--content"></div>
    <div class="card--content"></div>
    <div class="card--content"></div>
  </section>

  <p style="font-size:18px">
    My name's Trevor,
    </br>
    </br>
    Thanks for visiting my site! I am experienced in project management, sales management, consulting, and data analysis. I have generated hundreds of
    thousands of dollars in recurring revenue for clients and have created solutions for overcoming critical inefficiencies within large organizations.
    </br>
    </br>
    <b>Here's what I'm currently working on:</b>
  </p>
  <ul class="other" style="font-size:18px">
    <li>This website!</li>
    <li>Finishing my last semester of undergrad</li>
    <li>A commercial texting software</li>
    <li>Various projects as a project manager at BYU-Idaho</li>
  </ul>
  <p style="font-size:18px">
    <b>Here are some topics that I am currently studying:</b>
  </p>
  <ul class="other" style="font-size:18px">
    <li>Data Warehousing</li>
    <li>Econometrics</li>
    <li>Technical Stock Market Analysis</li>
    <li>Node.js, MySQL, R, and D3.js</li>
    <li>Microsoft's PowerBI</li>
  </ul>
  <p style="font-size:18px">
    Feel free to reach out to me if you're interested in any of these topics or have any suggestions/questions for me. Click the links above if you want to see what I've been working on.
  </p>
</div>
</body>
</html>
		