<!DOCTYPE html>
<html>
<head>
<link href="../styles/main.css" rel="stylesheet" type="text/css">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Trevor French</title>
</head>
<body>
<div style="width:800px; margin:0 auto;">
<h1><a href="http://trevorfrench.rf.gd/" class="title">Trevor French</a></h1>
</div>
<div class="bodyDiv">
<div style="width:800px; margin:0 auto;">
    <ul class="popList">
        <div class="webMenu">
        <li class="popListItem"><a href="../documents/French_Trevor_Resume.pdf" class="poplink">Resume</a></li>
        <li class="popListItem"><a href="../views/financial_calculators.html" class="poplink">Financial Calculators</a></li>
        <li class="popListItem"><a href="../views/data_gathering.html" class="poplink">Data Gathering</a></li>
        <li class="popListItem"><a href="../views/blog.html" class="poplink">Personal Blog</a></li>
        <li class="popListItem"><a href="../views/index.html" class="poplink">Auto-Texter</a></li>
        <li class="popListItem"><a href="../views/contactInfo.html" class="poplink">Contact Info</a></li>
        </div>
    </ul>
    </div>


<div style="width:800px; margin:0 auto;">
<p style="font-size:18px">
My name's Trevor,
</br>
</br>
Thanks for visiting my site! I am experienced in sales, sales management, consulting, and data analysis. I have generated hundreds of
thousands of dollars in recurring revenue for clients and have created solutions for overcoming critical inefficiencies within large organizations.
</br>
</br>
<b>Here's what I'm currently working on:</b>
</p>
<ul class="other" style="font-size:18px">
  <li class="otherli">This website!</li>
  <li class="otherli">Finishing my last semester of undergrad</li>
  <li class="otherli">Various projects as a project manager at BYU-Idaho</li>
</ul>
<p style="font-size:18px">
<b>Here are some topics that I am currently studying:</b>
</p>
<ul class="other" style="font-size:18px">
  <li class="otherli">Data Warehousing</li>
  <li class="otherli">Econometrics</li>
  <li class="otherli">Technical Stock Market Analysis</li>
  <li class="otherli">PHP, MySQL, R, and D3.js</li>
  <li class="otherli">Microsoft's PowerBI</li>
</ul>
<p style="font-size:18px">
Feel free to reach out to me if you're interested in any of these topics or have any suggestions/questions for me. Click the links above if you want to see what I've been working on.
</p>
</div>
</div>
</body>
</html>
		