<!DOCTYPE html>
<html>
<head>
<link href="../styles/main.css" rel="stylesheet" type="text/css">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Trevor French</title>
<link rel="icon" href="../views/iconMain.png" type="image/x-icon">
</head>
<body>

<div style="width:100%; margin:0 auto;">
        <div class="webMenu">
          <h1><a href="../views/main.html" class="title">Trevor French</a></h1>
            <div class="popListItem"><a href="../documents/French_Trevor_Resume.pdf" class="poplink">Resume</a>
              <div class="dropdown-content">
                <a href="../documents/French_Trevor_Resume.pdf" class="dropList">PDF</a>
                <a href="../views/resume.html" class="dropList">Browser</a>
            </div>
          </div>
            <div class="dropdown-content">
              <a href="../documents/French_Trevor_Resume.pdf" class="dropList">PDF</a>
              <a href="../views/resume.html" class="dropList">Browser</a>
            </div>
          <div class="popListItem"><a href="../views/financial_calculators.html" class="poplink">Financial Calculators</a>
            <div class="dropdown-content">
              <a href="../views/financial_calculators.html" class="dropList">Payment Calculator</a>
              <a href="../views/gordon_growth_stable.html" class="dropList">Stable Gordon Growth Model</a>
              <a href="../views/retirement_calculator.html" class="dropList">Retirement Calculator</a>
            </div>
          </div>
          <div class="popListItem"><a href="../views/data_gathering.html" class="poplink">Data Visualization</a>
            <div class="dropdown-content">
              <a href="../views/data_gathering.html" class="dropList">United States Sex Ratio (2018) - Sunburst</a>
              <a href="../views/collision_detection.html" class="dropList">Collision Detection</a> 
              <a href="../views/balloon_race.html" class="dropList">Space/Defense Spending - Balloon Race</a>
            </div>
          </div>
          <div class="popListItem"><a href="../views/index.html" class="poplink">Auto-Texter</a></div>
          <div class="popListItem"><a href="../views/spreadsheet_models.html" class="poplink">Spreadsheet Models</a></div>
          <div class="popListItem"><a href="../views/blog.html" class="poplink">Blog</a></div>
          <div class="popListItem"><a href="../views/video.html" class="poplink">Videos</a></div>
          <div class="popListItem"><a href="../views/contactInfo.html" class="poplink">Contact</a></div>
        </div>
</div>

<div class="bodyDiv">
 <br>
 <h3>How to Develop Mental Toughness in One Easy Step<hr></h3>
 <p>
Before I reveal to you the magic secret to becoming mentally "tough", let me describe to you what exactly mental toughness is. You may hear different people defining the concept in different ways. Some would call it synonymous with words such as "strength" or "tenacity" others might define it as "the never-ceasing ability to persevere".
<br>
<br>
These statements definitely describe the concept on a micro-level; however, in a bigger sense, it can be summed up as meaning "emotional endurance". Everyone is capable of seeing a legitimate obstacle standing between them and their desired objectives (such as the amount of time one needs to workout in order to look the way they would like or even the competitive nature of their dream job).
<br>
<br>
What many people fail to see is the bigger obstacle standing between them and their goals: <b>the way they feel about overcoming these obstacles.</b> It always seems easier to experience good feelings in the moment than it is to delay that gratification for greater returns. It is easier. However, harnessing your emotions for what you know is the better choice will be your defining factor.
<br>
<br>
Muhammad Ali said it best:
<br>
<div style="margin: auto; text-align: center; width: 50%;"><i>"I hated every minute of training, but I said "Don't quit. Suffer now and live the rest of your life as a champion.""</i></div>
<br>
I'll stop leading you all on now.
<br>
<br>
<b>Step 1 for Developing Mental Toughness:
<br>
<br>
• Do hard things.</b>
<br>
<br>
It's such a simple truth, it almost sounds paradoxical, doesn't it? You might be asking "How can I develop the mental toughness to do hard things if I have to do hard things in order to develop it?"
<br>
<br>
Start small, do things you don't want to do and gradually progress into harder and harder things. Start by making your bed if you need to, before you know it you could have the emotional endurance to swim oceans. (Maybe not, but I guarantee you'll be an immensely more capable person).
<br>
<br>
<div style="margin: auto; text-align: center; width: 50%;"><i><b>“To build mental toughness, you have to inconvenience yourself.</b> The early morning runs if you hate early morning runs, the late night  runs if you hate late night runs, the snowy,  cold, the worst conditions you can get, put yourself in those conditions and really make it inconvenient, and you start to get a genuine expectation of winning for the price you had to pay.” -Chael Sonnen</i></div>
</p>
</div>


</div>
</body>
</html>
		