<!DOCTYPE html>
<html>
<head>
<link href="../styles/main.css" rel="stylesheet" type="text/css">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Trevor French</title>
<link rel="icon" href="../views/iconMain.png" type="image/x-icon">
</head>
<body>

<div style="width:100%; margin:0 auto;">
        <div class="webMenu">
          <h1><a href="../views/main.html" class="title">Trevor French</a></h1>
            <div class="popListItem"><a href="../documents/French_Trevor_Resume.pdf" class="poplink">Resume</a>
              <div class="dropdown-content">
                <a href="../documents/French_Trevor_Resume.pdf" class="dropList">PDF</a>
                <a href="../views/resume.html" class="dropList">Browser</a>
            </div>
          </div>
            <div class="dropdown-content">
              <a href="../documents/French_Trevor_Resume.pdf" class="dropList">PDF</a>
              <a href="../views/resume.html" class="dropList">Browser</a>
            </div>
          <div class="popListItem"><a href="../views/financial_calculators.html" class="poplink">Financial Calculators</a>
            <div class="dropdown-content">
              <a href="../views/financial_calculators.html" class="dropList">Payment Calculator</a>
              <a href="../views/gordon_growth_stable.html" class="dropList">Stable Gordon Growth Model</a>
              <a href="../views/retirement_calculator.html" class="dropList">Retirement Calculator</a>
            </div>
          </div>
          <div class="popListItem"><a href="../views/data_gathering.html" class="poplink">Data Visualization</a>
            <div class="dropdown-content">
              <a href="../views/data_gathering.html" class="dropList">United States Sex Ratio (2018) - Sunburst</a>
              <a href="../views/collision_detection.html" class="dropList">Collision Detection</a> 
              <a href="../views/balloon_race.html" class="dropList">Space/Defense Spending - Balloon Race</a>
            </div>
          </div>
          <div class="popListItem"><a href="../views/blog.html" class="poplink">Personal Blog</a></div>
          <div class="popListItem"><a href="../views/index.html" class="poplink">Auto-Texter</a></div>
          <div class="popListItem"><a href="../views/contactInfo.html" class="poplink">Contact Info</a></div>
        </div>
</div>

<div class="bodyDiv">
 <p>
  <br>
Before I reveal to you the magic secret to becoming mentally "tough", let me describe to you what exactly mental toughness is. You may hear different people defining the concept in different ways. Some would call it synonymous with words such as "strength" or "tenacity" others might define it as "the never-ceasing ability to persevere".

These statements definitely describe the concept on a micro-level, however, in a bigger sense, it can be summed up as meaning "emotional endurance". Many people will see a legitimate obstacle in between them and their desired objectives such as the amount of time one needs to workout in order to look the way they would like or even the competitive nature of their dream job.

What these people fail to see is the bigger obstacle standing between them and their goals: the way they feel about overcoming these obstacles. It always seems easier to experience those good feelings in the moment than to delay that gratification for greater returns. It is easier. However, harnessing your emotions for what you know is the better choice will be your defining factor.

Muhammad Ali said it best:

</p>
</div>


</div>
</body>
</html>
		