<!DOCTYPE html>
<html>
<head>
<link href="../styles/main.css" rel="stylesheet" type="text/css">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Trevor French - Stock Overview: KeyCorp (NASDAQ: MSFT)</title>
<link rel="icon" href="../views/iconMain.png" type="image/x-icon">
</head>
<body>

<div style="width:100%; margin:0 auto;">
        
        
        <div class="header"></div>
        <div class="webMenu">
          <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
          <label for="openSidebarMenu" class="sidebarIconToggle">
            <div class="spinner diagonal part-1"></div>
            <div class="spinner horizontal"></div>
            <div class="spinner diagonal part-2"></div>
          </label>
          <div id="sidebarMenu">
            <ul class="sidebarMenuInner">
              <li>
                <div class="popListItem"><a href="../documents/French_Trevor_Resume.pdf" class="poplink">Resume</a></div>
              </li>
              <li>
                <div class="popListItem" onclick=""><a class="poplink">Finance</a>
                  <div class="dropdown-content">
                    <a href="../views/financial_calculators.html" class="dropList">Payment Calculator</a>
                    <a href="../views/gordon_growth_stable.html" class="dropList">Stable Gordon Growth Model</a>
                    <a href="../views/retirement_calculator.html" class="dropList">Retirement Calculator</a>
                    <a href="../views/spreadsheet_models.html" class="poplink">Spreadsheet Models</a>
                  </div>
                </div>
              </li>
              <li>
                <div class="popListItem" onclick=""><a class="poplink">Data Visualization</a>
                  <div class="dropdown-content">
                    <a href="../views/D3_js_Key_Concepts.html" class="dropList">d3.js Key Concepts</a>
                    <a href="../views/data_gathering.html" class="dropList">United States Sex Ratio (2018) - Sunburst</a>
                    <a href="../views/collision_detection.html" class="dropList">Collision Detection</a> 
                    <a href="../views/balloon_race.html" class="dropList">Space/Defense Spending - Balloon Race</a>
                  </div>
                </div>
              </li>
              <li>
                <div class="popListItem" onclick=""><a class="poplink">Projects</a>
                  <div class="dropdown-content">
                    <a href="../views/index.html" class="dropList">Auto-Texter</a>
                    <a href="../cryptoexchange" class="dropList">CryptoExchange</a> 
                    <a href="../fourthEstate" class="dropList">The Fourth Estate</a>
                    <a href="../frenchsFinancialData" class="dropList">French's Financial Data</a>
                  </div>
                </div>
              </li>
              <li>
                <div class="popListItem"><a href="../views/blog.html" class="poplink">Blog</a></div>
              </li>
              <li>
                <div class="popListItem"><a href="../views/video.html" class="poplink">Videos</a></div>
              </li>
              <li>
                <div class="popListItem"><a href="../views/contactInfo.html" class="poplink">Contact</a></div>
              </li>
            </ul>
          </div>
          <h1><a href="../views/main.html" class="title">Trevor French</a></h1>
        </div>
</div>

<div class="bodyDiv">
 <br>
 <br>
 <br>
 <h3>Stock Overview: Microsoft (NASDAQ: MSFT)</h3>
 <p>
<i>Microsoft stock closed out 2019 at $157.70 a share, achieving a 55.3% return and far outperforming the market, which ended 2019 at 28.9%.</i>
<br>
<br>
<b>Is this growth driven by market exuberance?</b>
<br>
<br>
Maybe slightly- 2019 also saw MSFT’s P/E ratio (Price to Earnings) climb from around 23 to nearly 30 by the end of the year. However, the growth was supported by a 10.9% dividend increase, which follows a trend of yearly dividend increases for more than a decade, as well as substantial revenue, EPS, and net income increases.
<br>
<br>
<b>Why are people paying a premium in the form of higher P/E ratios?</b>
<br>
<br>
One word: Azure. Only beaten by Amazon Web Services (AWS), Microsoft’s Azure is leading an entire industry called cloud computing. An excerpt from their own website:<br>
<br>
<div style="margin: auto; text-align: center; width: 50%;"><i>
 "Cloud computing is when you access computing services — like servers, storage, networking, software — over the internet (“the cloud”) from a provider like Azure. For example, instead of storing personal documents and photos on your personal computer’s hard drive, most people now store them online: that’s cloud computing."
</i></div>
<br>
<br>
To give an idea of how big this market is and how fast it’s growing:
<br>
<br>
&nbsp; &nbsp; -In the first quarter of 2018 Microsoft, Amazon, and Google reported a combined revenue of $8.4 billion from cloud computing alone.
<br>
<br>
&nbsp; &nbsp; -In the first quarter of 2019 the three tech giants reported $13.3 billion in combined revenue from cloud computing (annualized, that’s a market worth over $50 billion).
<br>
&nbsp; &nbsp; -These statistics illustrate a market growth of over 58%.
<br>
<br>
<b>How will MSFT perform in a downturn?</b>
<br>
<br>
MSFT has a Beta (5Y Monthly) of 1.23, which means that for every dollar that the market increases or decreases MSFT will generally increase or decrease by $1.23 (this is a very watered-down explanation of beta, I suggest researching this topic more if you don’t understand it).
<br>
<br>
This statistic prevents the stock from technically being labeled a defensive stock; however, it’s suite of business tools are integrated closely into the operations of many large companies and aren’t likely to be subject to discretionary cuts.
<br>
<br>
Additionally, Microsoft not only maintained it’s dividend throughout the Great Recession in 2008, it actually posted a 10% dividend increase.
<br>
<br>
Overall, it might not be the most defensive stock available but might still be worth considering for an investor worried about recession.
<br>
<br>
<b>FINAL RATING: BUY</b>
<br>
<br>
<img src="../views/IMG_1896.jpg" class="roundPhoto">
-Trevor French | January 20, 2020
</p>
 <br>
 <br>
</div>


</div>
</body>
</html>
		