<!DOCTYPE html>
<html>
<head>
<link href="../styles/main.css" rel="stylesheet" type="text/css">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Trevor French - Contact Information</title>
<link rel="icon" href="../views/iconMain.png" type="image/x-icon">
</head>
<body>

<div style="width:100%; margin:0 auto;">
        
        
        <div class="header"></div>
        <div class="webMenu">
          <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
          <label for="openSidebarMenu" class="sidebarIconToggle">
            <div class="spinner diagonal part-1"></div>
            <div class="spinner horizontal"></div>
            <div class="spinner diagonal part-2"></div>
          </label>
          <div id="sidebarMenu">
            <ul class="sidebarMenuInner">
              <li>
                <div class="popListItem"><a href="../documents/French_Trevor_Resume.pdf" class="poplink">Resume</a></div>
              </li>
              <li>
                <div class="popListItem" onclick=""><a class="poplink">Finance</a>
                  <div class="dropdown-content">
                    <a href="../views/financial_calculators.html" class="dropList">Payment Calculator</a>
                    <a href="../views/gordon_growth_stable.html" class="dropList">Stable Gordon Growth Model</a>
                    <a href="../views/retirement_calculator.html" class="dropList">Retirement Calculator</a>
                    <a href="../views/spreadsheet_models.html" class="poplink">Spreadsheet Models</a>
                  </div>
                </div>
              </li>
              <li>
                <div class="popListItem" onclick=""><a class="poplink">Data Visualization</a>
                  <div class="dropdown-content">
                    <a href="../views/D3_js_Key_Concepts.html" class="dropList">d3.js Key Concepts</a>
                    <a href="../views/data_gathering.html" class="dropList">United States Sex Ratio (2018) - Sunburst</a>
                    <a href="../views/collision_detection.html" class="dropList">Collision Detection</a> 
                    <a href="../views/balloon_race.html" class="dropList">Space/Defense Spending - Balloon Race</a>
                  </div>
                </div>
              </li>
              <li>
                <div class="popListItem" onclick=""><a class="poplink">Projects</a>
                  <div class="dropdown-content">
                    <a href="../views/index.html" class="dropList">Auto-Texter</a>
                    <a href="../cryptoexchange" class="dropList">CryptoExchange</a> 
                    <a href="../fourthEstate" class="dropList">The Fourth Estate</a>
                    <a href="../frenchsFinancialData" class="dropList">French's Financial Data</a>
                    <a href="../views/FFDCLI.html" class="dropList">French's Financial Data (CLI)</a>
                  </div>
                </div>
              </li>
              <li>
                <div class="popListItem"><a href="../views/blog.html" class="poplink">Blog</a></div>
              </li>
              <li>
                <div class="popListItem"><a href="../views/video.html" class="poplink">Videos</a></div>
              </li>
              <li>
                <div class="popListItem"><a href="../views/contactInfo.html" class="poplink">Contact</a></div>
              </li>
            </ul>
          </div>
          <h1><a href="../views/main.html" class="title">Trevor French</a></h1>
        </div>
</div>

<div class="bodyDiv">
<p style="font-size:18px">
<iframe style="width: 100%; height: 315px; align-content: center;" src="https://www.youtube.com/embed/Gl52PVDau6I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


</div>
</p>
<br>
<br>
</div>
</body>
</html>
		