<!DOCTYPE html>
<html>
<head>
<link href="../styles/main.css" rel="stylesheet" type="text/css">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Trevor French</title>
<link rel="icon" href="../views/iconMain.png" type="image/x-icon">
</head>
<body>

<div style="width:100%; margin:0 auto;">
        <div class="webMenu">
          <h1><a href="../views/main.html" class="title">Trevor French</a></h1>
          <div class="popListItem"><a href="../documents/French_Trevor_Resume.pdf" class="poplink">Resume</a></div>
            <div class="dropdown-content">
              <a href="../documents/French_Trevor_Resume.pdf" class="dropList">PDF</a>
              <a href="../views/resume.html" class="dropList">Browser</a>
            </div>
          <div class="popListItem"><a href="../views/financial_calculators.html" class="poplink">Financial Calculators</a>
            <div class="dropdown-content">
              <a href="../views/financial_calculators.html" class="dropList">Payment Calculator</a>
              <a href="../views/gordon_growth_stable.html" class="dropList">Stable Gordon Growth Model</a>
              <a href="../views/retirement_calculator.html" class="dropList">Retirement Calculator</a>
            </div>
          </div>
          <div class="popListItem"><a href="../views/data_gathering.html" class="poplink">Data Visualization</a>
            <div class="dropdown-content">
              <a href="../views/data_gathering.html" class="dropList">United States Sex Ratio (2018) - Sunburst</a>
              <a href="../views/collision_detection.html" class="dropList">Collision Detection</a> 
              <a href="../views/balloon_race.html" class="dropList">Space/Defense Spending - Balloon Race</a>
            </div>
          </div>
          <div class="popListItem"><a href="../views/blog.html" class="poplink">Personal Blog</a></div>
          <div class="popListItem"><a href="../views/index.html" class="poplink">Auto-Texter</a></div>
          <div class="popListItem"><a href="../views/contactInfo.html" class="poplink">Contact Info</a></div>
        </div>
</div>

<div class="bodyDiv">
 <p>
  <br>
  Experienced in project management, sales management, consulting, and data analysis. I have generated hundreds of
  thousands of dollars in recurring revenue for clients and created solutions for overcoming large
  inefficiencies.
  <div style="font-size: 24px;"><b>Education</b></div>
  <hr>
  <b>B.S. in Business Analytics (Major: 3.7)</b>
  <br>Expected Graduation: July 2019
  <br>
  <br>
    <div style="font-size: 24px;"><b>Certificates</b></div>
  <hr>
  <b>Harvard Business Publishing- Spreadsheet Modeling</b>
  <br>• Functions, financial functions, IF statements, sensitivity analysis, pivot tables, charting, importing
  data, spreadsheet structure and design, and advanced modeling.
  <br>
  <br>
  <b>Bloomberg Market Concepts</b>
  <br>• Using the Bloomberg Terminal, Analyzing the Market, Exploring the Equity Market, Discovering
  the Fixed Income Market and Building an Equity Portfolio.
  <br>
  <br>
  <b>Microsoft Office Specialist</b>
  <br>• Microsoft certified specialist in Excel, Word, Access, and PowerPoint.
  <br>
  <br>
  <div style="font-size: 24px;"><b>Experience</b></div>
  <hr>
  
  <div>

      <p style="text-align: left; display: inline; width: 50%;"><b>Project Manager</b>
      <br>April 2019-Present

      <div style="float: right; display: inline; width: 50%">• Supervised a team of seven data analysts.</div></p>


  </div>
  
  <div>

      <p style="text-align: left; display: inline; width: 50%;"><br><b>Data Analyst</b>
      <br>May 2018-April 2019
      <br>BYU-Idaho

      <div style="float: right; display: inline; width: 50%">• Researched and compiled reports for university stakeholders
      <br>• Maintained internal data-management system
      <br>• Created processes and workflows that led to improved customer service
      <br>• Used C#/Node JS to interact with Web APIs</div></p>
  </div>

  <div>
  
      <p style="text-align: left; display: inline; width: 50%;"><br><br><br><br><br><b>Business Analyst</b>
      <br>March 2018-July 2018
      <br>Insight Pest Solutions

      <div style="float: right; display: inline; width: 50%"><br><br>• Performed market research on the business’s end-consumer
      <br>• Suggested process improvements that led to improved KPIs
      <br>• Modeled data so that it was digestible to the business owners</div></p>
  </div>

  <div style="position: relative;">
       <p style="text-align: left; display: inline; width: 50%;"><br><br><br><br><br><br><b>Sales Manager</b>
      <br>Feb 2016-Feb 2018
      <br>Vantage Marketing
 
      <div style="float: right; display: inline; width: 50%"><br><br>• Recruited, trained, and led a small sales team that generated hundreds of thousands of dollars in recurring revenue
    </div></p>

</div>

    </p>
</div>
</body>
</html>
		