<!DOCTYPE html>
<html>
<head>
<link href="../styles/main.css" rel="stylesheet" type="text/css">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Trevor French - Retirement Calculator</title>
<link rel="icon" href="../views/iconMain.png" type="image/x-icon">
</head>
<body>

<div style="width:100%; margin:0 auto;">
        <div class="webMenu">
          <h1><a href="../views/main.html" class="title">Trevor French</a></h1>
            <div class="popListItem"><a href="../documents/French_Trevor_Resume.pdf" class="poplink">Resume</a>
                <div class="dropdown-content">
                    <a href="../documents/French_Trevor_Resume.pdf" class="dropList">PDF</a>
                    <a href="../views/resume.html" class="dropList">Browser</a>
            </div>
          </div>
          <div class="popListItem"><a href="../views/financial_calculators.html" class="poplink">Financial Calculators</a>
            <div class="dropdown-content">
              <a href="../views/financial_calculators.html" class="dropList">Payment Calculator</a>
              <a href="../views/gordon_growth_stable.html" class="dropList">Stable Gordon Growth Model</a>
              <a href="../views/retirement_calculator.html" class="dropList">Retirement Calculator</a>
            </div>
          </div>
          <div class="popListItem"><a href="../views/data_gathering.html" class="poplink">Data Visualization</a>
            <div class="dropdown-content">
              <a href="../views/data_gathering.html" class="dropList">United States Sex Ratio (2018) - Sunburst</a>
              <a href="../views/collision_detection.html" class="dropList">Collision Detection</a> 
              <a href="../views/balloon_race.html" class="dropList">Space/Defense Spending - Balloon Race</a>
            </div>
          </div>
          <div class="popListItem"><a href="../views/blog.html" class="poplink">Personal Blog</a></div>
          <div class="popListItem"><a href="../views/index.html" class="poplink">Auto-Texter</a></div>
          <div class="popListItem"><a href="../views/contactInfo.html" class="poplink">Contact Info</a></div>
        </div>
</div>

<div class="bodyDiv">

    <br>

    <fieldset>
        <legend><b>Retirement Calculator</b></legend>
    <form class="calculator">
    <div><p><b>Current Retirement Savings:</b><input type="number" id="downPayment"></p></div>
    <div><p><b>Monthly Savings:</b><input type="number" id="loanAmount"></p></div>
    <div><p><b>Rate of Return:</b><input type="number" id="downPayment"></p></div>
    <div><p><b>Retirement Salary:</b><input type="number" id="interestRate"></p></div>
    <div><p><b>Death Age:</b><input type="number" id="Periods"></p></div>
    <div><p><b>Retirement Age:</b><div id="paymentAmount"></div></p></div>
    <button type="button" onclick="calculateAge()">Calculate</button>
    </form>
    </fieldset>

    <div>
        <br>
        <p>Other Financial Calculators</p>
        <hr>
        <p><a href src="../views/financial_calculators.html" class="reference">Loan Amortization</a></p>
        <p><a href src="" class="reference">Gordon Growth Model</a></p>  
        <p><a href src="" class="reference">Alpha Generation</a></p>
        <p><a href src="" class="reference">Retirement</a></p>  
     </div>

</div>




<script>
    function calculatePayment() {
        var amount = document.getElementById('loanAmount').value;
        console.log(amount);
        var moneyDown = document.getElementById('downPayment').value;
        console.log(moneyDown);
        var rate = document.getElementById('interestRate').value;
        console.log(rate);
        var numberPeriods = document.getElementById('Periods').value;
        console.log(numberPeriods);
        var paymentsPer = document.getElementById('paymentsPerPeriod').value;
        console.log(paymentsPer);
        var n = numberPeriods * paymentsPer;
        console.log("n: " + n);
        var i = rate / paymentsPer;
        console.log("i:" + i);
        var a = amount - moneyDown;
        console.log("a:" + a);
        var dNumerator = (Math.pow((1 + i),n) - 1);
        console.log("num: " + dNumerator);
        var dDenominator = ((i * Math.pow(( 1 + i ), n)));
        console.log("den: " + dDenominator);
        var d = dNumerator / dDenominator;
        console.log("d:" + d);
        var payment = a / d;
        document.getElementById('paymentAmount').innerHTML = "$"+payment.toFixed(2);

    }
</script>
</body>
</html>
		