html {
  margin: 0;
  font-family: Verdana, sans-serif;
}

.mainWrapper {
	width: 50%;
	margin: 0 auto;
}

h1 {
  background-color: #282833;
  margin:0 auto;
  border:0;
  color: #b4b8cd;
  font-size:35px;    
  float: left;
  width: 100%;
  height: 100%;
  display: block;
}

body {
  background-color: #32323e;
  height: 100%;
  width: 100%;
  margin: 0;
}

p {
  margin: 0;
  color: #b4b8cd;
}
